<%- include("./_header.ejs") %>
    <div>
      <title>Login</title>
      <div>
        <label>E-Mail Address</label>
        <input
          type="email"
          id="email"
          name="email"
        >
      </div>
      <div>
        <label>Password</label>
        <input
          type="password"
          id="password"
          name="password" 
          >
      </div>
      <div>
        <input
          type="checkbox"
          id="Remember"
          name="Remember"
        >
        <label for="Remember">Remember Me</label>
      </div>
      <div>
        <button>Login</button>
        <a>Forgot Your Password?</a>
      </div>
    </div>
<%- include("./_footer.ejs") %>